@font-face { font-family: 'TTTogether'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
     background-color: black;
}

.btn{
     padding: 10px;
     color: #fff;
     text-decoration: none;
     opacity: 0.8;
     margin-right: 10px;
   }
   .btn:hover{
     opacity: 1;
     
   }

   .noonoo{
     background-color: #b32a45;
   }
   .peekle{
     background-color: #2A4FB3;
   }
   .qooqootv{
     background-color: #ffad2d;
   }
   .youtube{
     background-color: #ff0000;
   }
   .kugabox {
     background-color: #68a824;
   }
   .koreanz{
     background-color: #e6ce1d;
   }
   .sonagitv{
     background-color: #2287b3;
   }

   .justlink{
     background-color: #9e1569;
   }

   
   .go-moive{
     margin: 30px 0px;
     margin-right: 5px;
     word-break: keep-all;
     line-height: 55px;
   }


#topBtn {
    text-decoration: none;
    position: fixed;
    bottom: 120px;
    right: 40px;
    width: 60px;
    height: 60px;
    color: #fff;
    box-shadow: 0 0 15px #4f839750;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    text-align: center;
    line-height: 58px !important;
    font: normal 16px "TTTogether";     
    text-transform: lowercase;
    z-index: 9999; /* 포지션을 먼저 지정후 z-좌표(레이어) : 9999입니다. */ 
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    border: none;
    cursor: pointer;
}
 
#topBtn:hover {
    color: #fff;
    background: rgba(79, 131, 151, .7);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}